@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;500;800&display=swap');

*{
    font-family: 'Kumbh Sans', sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}

:root {
    --header: rgba(46, 49, 146, 0.65);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #16182E;
    font-family: 'Kumbh Sans', sans-serif;
}

.wrapper{
    font-family: 'Kumbh Sans', sans-serif;
    background: #16182E;
    color: #fff;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: -250px;
    top: 500px
}

.banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 375px;
    margin-top: -530px;
    background-color: #7373ff;
    padding: 25px;
    margin-bottom: 50px;
    border-radius: 6px;
}

.banner-content{
    position: absolute;
    left: 25px;
    bottom: -40px;
    padding: 25px;
    font-weight: bold;
    background: #040511;
    color: #fff;
    max-width: 500px;
}

.banner-content h2{
    font-size: 16px;
}

.banner-img{
    width: 100%;
    max-height: 400px;
    margin-top: 200px;
    margin-left: 20px;
    height: 200px;
}

.banner-img img{
    width: 100%;
    max-height: 400px;
    height: 100%;
    object-fit: contain;
}

.zima-flavors{
    
}

.zima-flavors h3{
  background: #7373ff;
  color: #fff;
  display: inline-block;
  padding: 12px 32px;
  margin-bottom: 12px;
}

.zima-img{
  max-width: 420px;
  min-height: 250px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.zima-img img{
  width: 30%;
  display: flex;
  margin-top: 500px;
  margin-left: 300px;
  justify-content: center;
}

.zima-flavors h2{
  font-style: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 350px;
}

.zima-flavors h2 span{
  color: #7373ff;
  padding-left: 10px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 700px;
}

.grid p{
  padding: 20px;
  width: 100%;
  background: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.grid p:nth-child(1){
  background: #7373ff;
}
.grid p:nth-child(2){
  background: #3137e6;
}
.grid p:nth-child(3){
  background: #0e0e4f;
}
.grid p:nth-child(4){
  background: #fff;
  color: #0e0e4f;
}

.grid-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 25px;
    background: #7373ff;
    border-radius: 12px;
}
  
  .grid-content img{
    max-width: 40px;
    width: 100%;
}
  
  .grid-content p{
    font-size: 14px;
}



.home-ad {
    background-color: powderblue;
    position: relative;
    margin-top: 210px;
    width: 30%;
    display: flex;
    margin-left: 300px;
    justify-content: center;
}

.home-ad img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    margin-left: -170px;
    scale: 220%;
    margin-top: -100px
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promovideo h2{
    margin: 50px 0;
    text-transform: uppercase;
}
  
  .promovideo iframe{
    width: 100%;
}

.subscribe-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    padding: 25px;
    background: #262b67;
    margin-top: 300px;
    margin-bottom: 50px;
    border-radius: 12px;
}

.subscribe-form h2{
    text-transform: uppercase;
    margin-bottom: 25px;
}
  
  .subscribe-form input{
    padding: 12px;
    background: #fff;
    color: #16182E;
    border-radius: 6px;
    max-width: 400px;
    width: 100%;
}
  
  .subscribe-form button{
    margin-top: 25px;
}


  

/* navigation style start here */

.primary-header {
    background-color: var(--header);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
    top: 0;
    position: fixed;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    float: right;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation li {
    margin-right: 10px;
  }

.logo {
    margin: 2rem;
}

.logo img {
    height: 10rem;
    margin-top: 10px;
    margin-left: 30px;
    align-items: center;
}

nav {
    position: absolute;
    text-align: left;
    top: 45%;
    left: 0%;
    width: 100%;
}

    nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    left: 0%;
}
  
    nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
  
    nav a {
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
  
    nav a:hover {
    background-color: #B9FFFA;
    color: #3c00ff;
}

/* mobile screen */
@media screen and (max-width: 767px) {
    .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        font-size: 20px;

        flex-direction: column;
        padding: min(20vh, 10rem) 0.2em;

        margin-left: 3rem;
        background-color: var(--header);

        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(0, 1fr);
        grid-gap: 20px;
        margin-top: 600px;
    }

    nav a {
        padding: 5px 10px;
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background-image: url(/images/hamburger-icon.svg);
        background-color: transparent;
        aspect-ratio: 1;
        top: 2rem;
        bottom: 2rem;
        right: 2.5rem;
        width: 3rem;
        z-index: 9999;
        border: 0;
        border-radius: 10px;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(/images/close-button.svg);
    }

      .banner-content{
        position: static;
    }
    
      .footer-socialmedia{
        flex-direction: column;
    }
    
      .footer-nav{
        flex-direction: column;
    }
    
}

/* tablet screen */
@media screen and (min-width:769px) and (max-width:1199px) {
    .primary-navigation {
        padding-block: 0rem;
        padding-inline: clamp(2rem, 5vw, 4rem);
    }

    nav a {
        padding: 5px 5px;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
    }

    .checkout-btn {
        display: inline-block;
        padding: .8rem 2rem;
        font-size: 1.7rem;
        color: #fff;
        background-color: var(--main-color);
        cursor: pointer;
        font-size: 1rem;
        background-color: #3c00ff;
    }

    .home-ad img {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        margin-left: -170px;
        scale: 220%;
        margin-top: -100px
    }
}

/* desktop screen */
@media screen and (min-width:1200px) {
    .primary-navigation {
        padding-block: 0rem;
        padding-inline: clamp(2rem, 5vw, 4rem);
    }

    nav a {
        padding: 5px 5px;
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
    }

    .checkout-btn {
        display: inline-block;
        padding: .8rem 2rem;
        font-size: 1.7rem;
        color: #fff;
        background-color: var(--main-color);
        cursor: pointer;
        font-size: 1rem;
        background-color: #3c00ff;
    }
}

.checkout-btn {
    display: inline-block;
    padding: .8rem 2rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    font-size: 1rem;
    background-color: #3c00ff;
}

.btn {
    letter-spacing: .2rem;
    background: black;
    color: white;
    transition: .6s all;
    padding: 12px 32px;
    border-radius: 10px;
    cursor: pointer;
}
  
  .btn-primary{
    background: #3137e6;
}
  
  .btn-danger{
    background: #e64331;
}
  
  .btn-primary:hover{
    background: #0e0e4f;
}

.footer {
    background: #7373ff;
    color: #000;
    padding: 50px 20px;
}
  
  .footer-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
  
  .footer-socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
    padding-top: 25px;
}
  
  .footer-socialmedia a{
    background: #3137e6;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: #fff;
}

.copyright{
    width: 100%;
    text-align: center;
    color: #fff;
}

.products {
    display: grid;
    grid-template-columns: repeat(0, 1fr);
    grid-gap: 20px;
    margin-top: 600px;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    background-color: #B9FFFA;
  }
  
  .product-title {
    display: block;
    font-weight: bold;
  }
  
  .product-price {
    display: block;
    margin-bottom: 10px;
  }
  
  .product-quantity {
    width: 50px;
    background: #fff;
    color: #16182E;
    padding: 5px;
    text-align: center;
    border-radius: 12px;
  }

.cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .cart-model {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .cart-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    color: #16182E;
    max-width: 600px;
    width: 100%;
  }
  
  .cart-content h2 {
    margin-top: 0;
  }
  
  .cart-list {
    list-style: none;
    padding: 0;
  }
  
  .cart-list li{
    padding: 10px;
    width: 100%;
    background: #dfdfdf;
    margin-bottom: 5px;
    border-radius: 12px;
  }
  
  .total {
    text-align: right;
  }
  
  .close-cart {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3137e6;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
  }

  .mt-2{
    margin-top: 5px;
  }

  h1 {
    text-align: center;
    color: #fff; /* Color for "SHOP" text */
  }

  .headings {
    margin-top: 200px;
  }

  .zima-text {
    color: blue; /* Color for "ZIMA" text */
  }