/* 
    CSS Guide 

    1.  General Styles (Normalize)

 */


 /* 1. ---General Styles--- */

 header {
    background-color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    max-height: 60px;
    max-width: 100%;
  }

    .spacer {
        margin-top: 60px;
    }

    .txt-spacer {
        margin-top: 30px;
    }

    .brand-header {
        background-color: #333;
        color: #fff;
        padding: 20px;
    }

    .main-content {
        background-color: #f2f2f2;
        padding: 20px;
    }

    .brand-footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
    }


 /* ---End of General Styles--- */